
@{
    ViewData["Title"] = "AddComment";
}

@model List<Comment>

<h1>Add a Comment</h1>

@if(Model.Count != 0)
{
<table>
    <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    @foreach(Comment c in Model)
    {
        <tr>
            <td>@c.UserName</td>
            <td>@c.Comment1</td>
            <td>@c.CommentDate</td>
        </tr>
    }
</table>
}

<form action="/Launchpad/AddComment?id=@ViewBag.StartupId" method="post">
    <input type="hidden" name="id" value="@ViewBag.StartupId" />
    <input type="text" name="Comment" required="required" placeholder="Your comments here..." />
    <input type="submit" value="Submit" />
</form>
