
@{
    ViewData["Title"] = "ViewLandingPage";
}

<h1 align="center">Welcome</h1>
<p> The Seamless LaunchPad is a place where Seamless Partners can come together to collaborate, organize and track, and onboard new startups into their ecosystem. </p>
<h3>Using Launchpad</h3>
<div><a href="/LaunchPad/Index">Forecast</a> takes a look at onboarded startups and gives each of them a success rating where the "<img src="~/creativboard-converted-01-.jpg" width="40" height="25" />"
    indicates higher chance of success.</div>

<div><a href="/LaunchPad/ViewDashboard">Dashboard</a> gives you access to your affiliate's newly entered startups to watch and organize. From this view, you can 
    also add additional startups to watch and keep track of.</div>

<div>View individual startups and declare your interest for other partners to see, add to watch list, add public or private comments, and track publicity to stay current with how the startup is performing.</div>

<div><img src="~/finance.jpg" width="1100" height="500" /></div>